/** 
 * DUMB TYPOGRAPHY
 */
.text--header,
.text--body,
.list-item
/* .link  */ {
  font-family: "Helvetica Neue", sans-serif;
  color: var(--black);
  font-size: 1.5rem;
  font-size: 1em;
  font-size: inherit;
  line-height: 1.75rem;
  line-height: 1.2;
  font-weight: bold;
  font-style: normal;
  margin: 0;
  padding: 0;
  letter-spacing: -0.7px;
}

.text--header {
  background: var(--black);
  color: var(--white);
  margin: 1rem 0 0.5rem;
  padding: 0 0.25rem;
  display: inline-block;
}

.text--body {
  max-width: 624px;
  max-width: 26em;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

.link:hover {
  color: lime;
}

/** 
 * Spacing 
 */
.group + .group,
.group + .list {
  margin-top: 2rem;
  margin-top: 2em;
}

.text--body + .text--body {
  margin-top: 1rem;
  margin-top: 1em;
}
